<div class="logo">
  <img src="/img/logo.png" alt="Pixi Puzzle Logo" width="465" height="165" />
</div>

<div class="puzzle-form">
  <div class="puzzle-parameters">
    <div class="puzzle-image-parameter">
      <div class="label">Choix du puzzle :</div>
      <app-puzzle-select-field (puzzleImageLoading)="isLoading.set($event)" (puzzleImageSelected)="puzzleImage.set($event)" />
    </div>

    <div class="puzzle-size-parameter">
      <div class="label">Taille du puzzle :</div>
      <app-puzzle-size-field [loading]="isLoading()" [puzzleImage]="puzzleImage()" (puzzleSizeParametersChange)="puzzleSizeParameters.set($event)" />
    </div>

    <div class="puzzle-preview">
      <div class="label">Preview du puzzle :</div>
      <app-puzzle-preview [loading]="isLoading()" [puzzleImage]="puzzleImage()" [puzzleSizeParameters]="puzzleSizeParameters()" />
    </div>
  </div>

  <div class="footer-actions">
    <button type="button" class="start-puzzle-button" (click)="startPuzzle()" [disabled]="isLoading() || !puzzleImage()">Démarrer le puzzle</button>
  </div>
</div>
