:host {
  display: block;
}

.logo {
  > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.puzzle-parameters {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 2rem 3rem;

  .label {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.footer-actions {
  position: sticky;
  bottom: 0;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);

  .start-puzzle-button {
    display: block;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    line-height: 1.6rem;
    border: 2px solid #bbb;

    &:hover,
    &:focus-visible {
      border-color: #666;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}
