<div class="logo">
  <img src="/img/logo.png" alt="Pixi Puzzle Logo" width="465" height="165" />
</div>

<div class="puzzle-form">
  <div class="puzzle-parameters">
    <div class="puzzle-image-parameter">
      <div class="label">Choix du puzzle :</div>
      <div class="thumbnails">
        @for (puzzle of puzzles; track puzzle) {
          <button
            class="thumbnail"
            type="button"
            [class.active]="!loadingPuzzle() && selectedPuzzle() === puzzle"
            [class.loading]="loadingPuzzle() === puzzle"
            [disabled]="(!loadingPuzzle() && selectedPuzzle() === puzzle) || loadingPuzzle() === puzzle"
            (click)="setPuzzle(puzzle)"
          >
            <img class="thumbnail-image" src="{{ puzzleThumbnailFolder + '/' + puzzle }}" alt="Puzzle: {{ puzzle }}" />
            <div class="thumbnail-marker">
              <app-checkmark-spinner [complete]="selectedPuzzle() === puzzle" />
            </div>
          </button>
        }
      </div>

      <label class="select-file-button" for="puzzle-file-input">
        <input
          [attr.title]="selectedCustomPuzzle() ?? null"
          class="file-input"
          id="puzzle-file-input"
          type="file"
          (input)="setCustomPuzzle($event)"
          multiple="false"
          #puzzleFileInput
        />
        <div class="file-button">
          <div class="icon">
            <span class="material-icons" aria-hidden="true">file_upload</span>
          </div>
          <div class="text">Choisir une image</div>
          <div class="condition">(max. 4096×4096)</div>
        </div>
      </label>
    </div>

    <div class="puzzle-size-parameter">
      <div class="label">Taille du puzzle :</div>
      <input
        autocomplete="off"
        class="puzzle-size-input"
        [(ngModel)]="selectedPieceSizeIndex"
        (ngModelChange)="updatePieceSize()"
        [disabled]="loadingPuzzle() || loadingCustomPuzzle() || !puzzleImage()"
        type="range"
        step="1"
        min="0"
        [max]="validPieceSizes().length - 1"
      />
      <div class="puzzle-size-output">
        <span class="min-value"> Petit </span>
        <span class="current-value"> {{ horizontalPieceCount() }}x{{ verticalPieceCount() }} ({{ horizontalPieceCount() * verticalPieceCount() }} pièces) </span>
        <span class="max-value"> Grand </span>
      </div>
    </div>

    <div class="puzzle-preview">
      <div class="label">Preview du puzzle :</div>
      <app-puzzle-preview
        [loading]="!!loadingPuzzle() || !!loadingCustomPuzzle()"
        [puzzleImage]="puzzleImage()"
        [puzzleOffset]="puzzleOffset()"
        [pieceSize]="pieceSize()"
        [horizontalPieceCount]="horizontalPieceCount()"
        [verticalPieceCount]="verticalPieceCount()"
      />
    </div>
  </div>

  <div class="footer-actions">
    <button type="button" class="start-puzzle-button" (click)="startPuzzle()" [disabled]="loadingPuzzle() || loadingCustomPuzzle() || !puzzleImage()">Démarrer le puzzle</button>
  </div>

  <button type="button" class="popup-error" [class.display]="imageError() === 'unknown'" (click)="clearImageError()">Une erreur inattendue s'est produite.</button>

  <button type="button" class="popup-error" [class.display]="imageError() === 'too-heavy'" (click)="clearImageError()">
    L'image choisie est trop lourde. Elle doit faire au maximum {{ maxFileSize }}Mo.
  </button>

  <button type="button" class="popup-error" [class.display]="imageError() === 'too-small'" (click)="clearImageError()">
    L'image choisie est trop petite. Elle doit faire au minimum {{ minPuzzleImageWidth }} par {{ minPuzzleImageHeight }} pixels.
  </button>

  <button type="button" class="popup-error" [class.display]="imageError() === 'too-big'" (click)="clearImageError()">
    L'image choisie est trop grande. Elle doit faire au maximum {{ maxPuzzleImageWidth }} par {{ maxPuzzleImageHeight }} pixels.
  </button>

  <button type="button" class="popup-error" [class.display]="imageError() === 'file-read'" (click)="clearImageError()">
    Une erreur est survenue pendant le lecture de l'image.
  </button>

  <button type="button" class="popup-error" [class.display]="imageError() === 'file-fetch'" (click)="clearImageError()">
    Une erreur est survenue pendant le téléchargement de l'image.
  </button>

  <button type="button" class="popup-error" [class.display]="imageError() === 'image-create'" (click)="clearImageError()">
    Une erreur est survenue pendant le chargement de l'image.
  </button>
</div>
