:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #262524;
}

.button {
  width: 200px;
  background-color: #32312f;
  color: #eceae8;
  text-align: center;
  text-shadow: 0 0 2px #000;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus-visible {
    background-color: #50504a;
    color: #fff;
  }
}

.close-puzzle-button {
  z-index: 1;
  position: absolute;
  left: calc(50% - 100px);
  top: 10px;
}

.puzzle-game-wrapper {
  width: 100%;
  height: 100%;
}

.loading-dialog {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.end-dialog {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  max-width: calc(100% - 32px);
  max-height: 80vh;
  width: 400px;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  color: #fff;

  .title {
    font-size: 3rem;
    text-shadow: 0 0 10px #000;
  }

  .play-time {
    font-size: 2rem;
    color: #ddd;
    text-shadow: 0 0 10px #000;
  }

  .button {
    margin-top: 2rem;
  }
}
