:host {
  display: block;
}

.puzzle-size-input {
  display: block;
  width: 400px;
  max-width: 100%;
}

.puzzle-size-output {
  display: grid;
  width: 400px;
  max-width: 100%;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 0.5rem;

  .min-value {
    text-align: left;
  }
  .current-value {
    text-align: center;
    font-weight: bold;
  }
  .max-value {
    text-align: right;
  }
}
