@import 'styles/reset';

button {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background-color: #eee;
  text-shadow: 0 0 2px #fff;

  &:hover,
  &:focus-visible {
    background-color: #ccc;
  }
}

.pixijs-canvas {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  cursor: default;

  &[data-can-interact='true'] {
    cursor: grab;
  }

  &[data-viewport-state='interaction'] {
    cursor: grabbing;
  }

  &[data-viewport-state='manipulation'] {
    cursor: move;
  }
}

.thumbnail {
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  border: 2px solid #eee;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;

  .thumbnail-image {
    pointer-events: none;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 3px;
    object-fit: cover;
    user-select: none;
    -webkit-user-select: none;
  }

  .thumbnail-marker {
    pointer-events: none;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }

  &.active,
  &.loading {
    .thumbnail-marker {
      display: grid;
    }
  }

  &:hover,
  &:focus-visible {
    border-color: #666;
  }

  &[disabled] {
    cursor: default;
  }
}

.popup-error {
  pointer-events: none;
  position: fixed;
  top: 1rem;
  left: 50%;
  max-width: 500px;
  width: calc(100% - 4rem);
  padding: 1rem;
  transform: translateX(-50%);
  background-color: #fff6f6;
  color: #f80000;
  box-shadow: 0 3px 5px 3px rgba(160, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
  transform: translate(-50%, calc(-100% - 2rem));
  opacity: 0;

  &.display {
    pointer-events: all;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
